# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Word temporary / lock files
~$*.doc
~$*.docx
~$*.docm
~WRL*.tmp

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Project-specific ignored files

# If you want to ignore EVERYTHING inside a folder except one file, use:
# assets/some_folder/*
# !assets/some_folder/
# !assets/some_folder/keep-this-file.ext
assets/data/Mindset 01/*
!assets/data/Mindset 01/
!assets/data/Mindset 01/Mindset1- Custom*.docx
!assets/data/Mindset 01/Mindset1- Audio Scripts.docx
!assets/data/Mindset 01/Mindset1- Audio Scripts_markers.docx

assets/data/Mindset 03/*
!assets/data/Mindset 03/
!assets/data/Mindset 03/Mindset3- Custom.docx
!assets/data/Mindset 03/Mindset3- Audio Scripts.docx
!assets/data/Mindset 03/Mindset3- Audio Scripts_markers.docx


assets/data/Mindset test/*
!assets/data/Mindset test/
!assets/data/Mindset test/temp.docx
# Example: keep only this file in assets/data/
# assets/data/*
# !assets/data/
# !assets/data/Cambridge_English_Mindset_For_Ielts_Level_3_ee125dbf68.docx

# Files currently intended to remain tracked
assets/data/Mindset-Level-3- Custom - Copy.docx
assets/data/Mindset-For-IELTS-Level-3-zandi-english0.docx
assets/data/Cambridge_English_Mindset_For_Ielts_Level_3_ee125dbf68.docx
assets/data/data.zip
assets/data/index.json
assets/data/مارکرها.docx
